
* {
    margin: 0;
    padding: 0;
}

.box{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(8, 8, 8, 0.096)), url(./image/1.jpg);
    /* background-image: url(./image/1.jpg); */
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.image{
    width: 300px;
    border: solid 2px black;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.397);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.938);
    padding: 100px;
    border-radius: 30px;
}

.main {
    padding-top: 300px;
}

.btn{
    width: 50%;
    background-color: lightblue;
}
